.linethr {
	text-decoration: line-through;
}
#top {
	/*margin:0px;*/
	/*padding:10px 20px;*/
	/*background-color:#993300;*/
	height: 100px;
	background: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	margin: -10px;
	margin-left: -100px;
}
#moveup1 {
	margin-top: -20px;
	background-color: #192823;
}
#moveleft1 {
	margin-left: 0px;
}
#floatleft1 {
	float: left;
}
#formcontainer {
	float: left;
	margin-top: -40px;
	padding:30px 20px 20px 20px;
	background-color: #192823;
	margin-left: 100px;
}
.hidden1 {
	display: none;
}
#hidden2 {
	display: none;
}
#undrlne:hover {
	text-decoration: underline;
	cursor: pointer;

}
.table tr:nth-child(1){
	height:44px;
}
.table td {
	font-size: 30px;
}
.table th {
	padding:50px ;
	/*margin-top: 100px;*/
	font-size: 40px;
}
#marginreduce{
	margin-bottom: -30px;
	margin-top: -10px;
}
#nothingtodo {
	margin-left: 100px;
}
.hidden-start {
	/*display:none;*/
}